<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container">
  <form #inputForm="ngModel" name="parametersForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Loan Amount</span></div>
      <input class="form-control" type="number" required placeholder="Loan Amount" [(ngModel)]="loanAmount" name="loanAmountInput" aria-label="Loan Amount">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Interest Rate</span></div>
      <input class="form-control" required type="number" placeholder="Interest Rate" min=0 max=100 name="interestRateInput" [(ngModel)]="interestRate">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Down Payment %</span></div>
      <input class="form-control" required type="number" placeholder="Down Payment %" min=0 max=100 name="downPaymentPercentInput" [(ngModel)]="downPaymentPercent">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Loan Term In Years</span></div>
      <input class="form-control" required type="number" placeholder="Loan Term" min=1 max=50 name="loanTermInYearsInput" [(ngModel)]="loanTermInYears">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Monthly HOA</span></div>
      <input class="form-control" required type="number" placeholder="Monthly HOA" name="hoaInput" [(ngModel)]="hoa">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Property Tax %</span></div>
      <input class="form-control" required type="number" placeholder="Property Tax %" min=0 max=100 name="propertTaxRateInput" [(ngModel)]="propertyTaxRate">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Monthly PMI</span></div>
      <input class="form-control" required type="number" placeholder="Monthly PMI" name="pmiInput" [(ngModel)]="pmi">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Series Name</span></div>
      <input class="form-control" required type="text" placeholder="Series Name" name="seriesNameInput" [(ngModel)]="series">
    </div>

  </form>
  <div class="input-group mb-3">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="updateGraph(true)" [disabled]="inputForm.checkValidity()">Replace</button>
        <button type="button" class="btn btn-secondary" (click)="updateGraph(false)" [disabled]="inputForm.checkValidity()">Add</button>
        <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
</div>
</div>


<div class="container">
  <div *ngIf="!multipleData">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="data"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      [tooltipDisabled]="tooltipDisabled"
      [tooltipText]="pieTooltipText">
    </ngx-charts-pie-chart>
  </div>
  <div *ngIf="multipleData">
    <ngx-charts-bar-vertical-stacked
      class="chart-container"
      [view]="view"
      [scheme]="colorScheme"
      [schemeType]="schemeType"
      [results]="data"
      [animations]="animations"
      [gradient]="gradient"
      [tooltipDisabled]="tooltipDisabled"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendTitle]="legendTitle"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [showGridLines]="showGridLines"
      [barPadding]="barPadding"
      [roundDomains]="roundDomains"
      [yScaleMax]="yScaleMax"
      [showDataLabel]="showDataLabel">
    </ngx-charts-bar-vertical-stacked>
  </div>
</div>

